<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
     <meta charset="utf-8" />
	 <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
     <title>antouses blog</title>
  </head>
  <body>
  <div>
  <h1>первый сайт от Antous</h1>
  <h2>Мой котик</h2>
  <img src="{% static 'images/blackcat.jpg' %}" alt="cat" >
  <h2>Простой блог</h2>
  <ul><li>загадай желание</li><li>напиши о нем</li><li>нажми на кнопку ОТПРАВИТЬ</li><li>жди ответа</li></ul>
  </div>
  <div><h2>либо  <a href="\admin">перейди по ссылке</a></h2></div>
  <div>
  <form>
     <input type="text">писать сюда</input><br />
	 <input type="submit">Отправить</input>
  </form>
  </div>
  <p> Hello</p>
  <p>Привет всем</p>
  </body>
</html/>  